---
import "../sass/layout/_index.scss";

type Product = { src: string; name: string; price: string };

interface GalleryProps {
  title: string;
  products: Product[];
}

const { title, products } = Astro.props;
---

<section class="gallery-container">
  <h2 class="gallery-title">{title}</h2>

  <div class="gallery">
    {
      products.map((product: Product) => (
        <div class="gallery__item">
          <img
            class="gallery__image"
            src={product.src}
            alt={`Imagen de ${product.name}`}
          />
          <div class="gallery__info">
            <p class="gallery__name">{product.name}</p>
            <p class="gallery__price">{product.price}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
